*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #203138;
    user-select: none;
    gap: 1rem;
    font-family: "Poppins", sans-serif;
}

.container{
    height: 320px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    height: 100px;
    width: 100px;
    background-color: #263b46;
    border-radius: 6px;
    box-shadow: 0 5px #172830;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    border: none;
}

.menu{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.xo{
    padding: 3px 0 0 0;
}

.xo .x{
    font-size: 2rem;
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    color: #2dc3bf;
    padding: 3px 0 0 0;
}

.xo .o{
    font-size: 2rem;
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    color: #f2b03e;
    padding: 3px 0 0 0;
}

.turn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #263b46;
    box-shadow: 0 5px #172830;
    color: #a9bec9;
    padding: 5px 10px;
    border-radius: 6px;
}

.turn span{
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
}

.turn p{
    font-size: 1rem;
}

.reset-btn{
    padding: 8px 18px;
    font-size: 1rem;
    color: #263b46;
    background-color: #a9bec9;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #172830;
}


@media (max-width: 480px) {
    .container{
        height: 90vw;
        width: 90vw;
        gap: 2%;
    }
    
    .box{
        height: 32%;
        width: 32%;
        font-size: 4.5rem;
    }

    .menu{
        width: 80vw;
    }
    
    .xo .x{
        font-size: 3rem;
    }
    
    .xo .o{
        font-size: 3rem;
    }
    
    .turn{
        padding: 10px 20px;
    }
    
    .turn span{
        font-size: 1.8rem;
    }

    .reset-btn{
        padding: 10px 20px;
        font-size: 1.4rem;
    }
}