*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #203138;
    user-select: none;
    gap: 1rem;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.container{
    height: 320px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    height: 100px;
    width: 100px;
    background-color: #263b46;
    border-radius: 6px;
    box-shadow: 0 5px #172830;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    border: none;
}

.menu{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.xo{
    padding: 3px 0 0 0;
}

.xo .x{
    font-size: 2rem;
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    color: #2dc3bf;
    padding: 3px 0 0 0;
}

.xo .o{
    font-size: 2rem;
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    color: #f2b03e;
    padding: 3px 0 0 0;
}

.turn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #263b46;
    box-shadow: 0 5px #172830;
    color: #a9bec9;
    padding: 5px 10px;
    border-radius: 6px;
}

.turn span{
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
}

.turn p{
    font-size: 1rem;
}

.reset-btn{
    padding: 8px 18px;
    font-size: 1rem;
    color: #263b46;
    background-color: #a9bec9;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #172830;
}




.win-lose{
    position: absolute;
    height: 200px;
    width: 100%;
    top: 38vh;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #1e3640;
    transition: 0.5s ease-in-out;
    z-index: 5;
    scale: 0;
}

.win-text{
    color: #a9bec9;
    font-size: 1rem;
    font-weight: 600;
}

.winner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.winner span{
    font-family: "Varela Round", sans-serif;
    font-size: 5rem;
    font-weight: 900;
}

.winner p{
    font-size: 2rem;
    font-weight: 600;
}

.newRound-btn{
    color: #172830;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.no-filter{
    transition: 0.5s ease-in-out;
}

.filter{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
}

.tie-match{
    position: absolute;
    height: 200px;
    width: 100%;
    top: 38vh;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #1e3640;
    transition: 0.5s ease-in-out;
    z-index: 5;
    scale: 0;
}

.tie p{
    color: #a9bec9;
    font-size: 2rem;
    font-weight: 600;
}

.enable{
    scale: 1;
}


@media (max-width: 480px) {
    .container{
        height: 90vw;
        width: 90vw;
        gap: 2%;
    }
    
    .box{
        height: 32%;
        width: 32%;
        font-size: 4.5rem;
    }

    .menu{
        width: 80vw;
    }
    
    .xo .x{
        font-size: 3rem;
    }
    
    .xo .o{
        font-size: 3rem;
    }
    
    .turn{
        padding: 10px 20px;
    }
    
    .turn span{
        font-size: 1.8rem;
    }

    .reset-btn{
        padding: 10px 20px;
        font-size: 1.4rem;
    }

    .win-lose{
        top: 43%;
    }
    
    .winner{
        gap: 20px;
    }
    
    .winner span{
        font-size: 4rem;
    }
    
    .winner p{
        font-size: 1.6rem;
    }

    .tie p{
        font-size: 1.6rem;
    }
}
